.greeting__sort {
  background: none;
  border: none;
  margin: 20px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
}

.greeting__sort:hover {
  background: rgb(129 214 129);
}
