.heroesCard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heroesCard__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}

.heroesCard__section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heroesCard__title {
  margin: 0;
  margin-right: 10px;
}
